<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Killemetre.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Killemetre_Servlet</servlet-name>
        <servlet-class>Killemetre.Kilomettre_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Moyenne</servlet-name>
        <servlet-class>Moyenne.Moyenne_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recupere_Servlet</servlet-name>
        <servlet-class>Moyenne.Recupere_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deviner_Un_Nombre_Servlet</servlet-name>
        <servlet-class>Deviner_Un_Nombre.Deviner_Un_Nombre_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTraitement01</servlet-name>
        <servlet-class>Moyenne.ServletTraitement01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTraitement02</servlet-name>
        <servlet-class>Moyenne.ServletTraitement02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_sapins</servlet-name>
        <servlet-class>Sapins.Servlet_sapins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_SapinsCouche</servlet-name>
        <servlet-class>Sapins.Servlet_SapinsCouche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Sapins_Vide</servlet-name>
        <servlet-class>Sapins.Servlet_Sapins_Vide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_SapinsPluie</servlet-name>
        <servlet-class>Sapins.Servlet_SapinsPlein</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Sapins</servlet-name>
        <servlet-class>Sapins.Servlet_Sapins</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Killemetre_Servlet</servlet-name>
        <url-pattern>/Killemetre_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Moyenne</servlet-name>
        <url-pattern>/Moyenne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recupere_Servlet</servlet-name>
        <url-pattern>/Recupere_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deviner_Un_Nombre_Servlet</servlet-name>
        <url-pattern>/Deviner_Un_Nombre_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTraitement01</servlet-name>
        <url-pattern>/Traitement01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTraitement02</servlet-name>
        <url-pattern>/Traitement02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_sapins</servlet-name>
        <url-pattern>/Servlet_sapins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_SapinsCouche</servlet-name>
        <url-pattern>/Servlet_SapinsCouche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Sapins_Vide</servlet-name>
        <url-pattern>/Servlet_Sapins_Vide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_SapinsPluie</servlet-name>
        <url-pattern>/Servlet_SapinsPluie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Sapins</servlet-name>
        <url-pattern>/Servlet_Sapins</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
